
.listing-block{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.errormsg{
  color: rgb(219, 11, 11);
}
input[type="text"] {
  display: inline-block;
  height: 45px;
  border-radius: 0;
  border: 2px solid #4cd5c5;
  font-size: 18px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  max-width: 400px;
}
 button {
    font-size: 18px;
    height: 49px;
    vertical-align: bottom;
}
ul.display-todoitems {
  display: block;
  text-align: left;
  padding: 0;
  margin: 35px 0;
  font-size: 18px;
  list-style: none;
}
ul.display-todoitems li {
  padding: 10px 15px;
  background: #eee;
  font-weight: 500;
  margin-bottom: 8px;
}
ul.display-todoitems span.del-todo {
  display: inline-block;
  float: right;
  width: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  background: #d80000;
  margin-left: 6px;
  color: #fff;
  transition: all 0.3s ease;
}
ul.display-todoitems span.del-todo:hover,ul.display-todoitems span.del-todo:focus{
  background-color: #fc0f0f;
}
ul.display-todoitems li span.mark {
  float: right;
  background: #4cd5c5;
  color: #fff;
  padding: 4px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
ul.display-todoitems li.read {
  text-decoration: line-through;
  background: #ffc7c7;
}

/*****tab***********/
ul.tab-btns{
  list-style: none;
  padding: 0;
  margin: 0 0 6px;
}
ul.tab-btns li{
  display: inline-block;
  position: relative;
}
ul.tab-btns li button{
  position: relative;
}
ul.tab-btns li button:after {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid #4cd5c5;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
ul.tab-btns li button.active:after{
  border-top: 6px solid #4eeddb;  
  opacity: 1;
}
#tab-content{
  border: 2px solid #4cd5c5;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
}


/*****two way data binding section css***************/
#feedback {
  max-width: 800px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

#feedback p {
  margin: 0.5rem 0;
}

#feedback label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #364660;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

#feedback input,
#feedback textarea {
  font: inherit;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #798aa9;
}

#draft {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #67d7b0;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

#draft figure {
  margin: 0;
  padding: 0;
}

#draft blockquote {
  padding: 0.5rem 1rem;
  background-color: #65b69a;
  border-radius: 4px;
  font-style: italic;
  margin: 0;
}

#draft blockquote p {
  margin: 0;
  min-height: 100px;
  text-align: left;
}

#draft figcaption {
  margin: 0.2rem 0;
    font-size: 16px;
    text-align: right;
}

.lifting-state-sec{
  
}